<span *ngIf="!dispaly"><form > <input type="text" placeholder="Enter name" name="name" [(ngModel)]="ipt"> <button (click)="login()" >ok</button></form></span> 
<div *ngIf="dispaly">
  <span style="text-align: center; background-color: rgba(247, 247, 247, 0.797);color: green;font-size: 20px;margin-left: 600px;"> <b>{{ipt | titlecase}}</b></span> 
   <span class="budjet" > Budjet Calculation</span>
  
<span class="container1">{{ this.service.TotalAmount }}</span>
<div class="container2">
  <form [formGroup]="currencyForm" class="header">
    <input
      class="inp1"
      placeholder="$"
      formControlName="amt"
      autocomplete="off"
    />
    <input
      class="inp2"
      type="text"
      placeholder="description"
      autocomplete="off"
      formControlName="dscptn"
    />
    <input
    class="inp2"
    type="text"
    placeholder="name"
    autocomplete="off"
    formControlName="name"
  />

    <button
      *ngIf="buttn"
      class="btn"
      type="button"
      (click)="add()"
      [disabled]="currencyForm.invalid"
    >
      Add
    </button>
    <button *ngIf="!buttn" class="btn" type="button" (click)="save()">
      Save
    </button>
  </form>
  <button style="margin-left: 550px;background-color: rgb(30, 19, 5); color: red; border: 2px; border-radius: 5px;height: 30px;margin-top: 20px;" (click)="back()"><b>Back</b></button>
  <button style="margin-left: 100px;background-color: rgb(238, 235, 230); color: rgb(66, 14, 237); border: 2px; border-radius: 5px;height: 30px;margin-top: 20px;" (click)="table()"><b>Detail Data</b></button>
</div>
<span style="color: red">{{ wrongInput }}</span>
<div class="row1">
  <span style="color: green; font-size: 25px"><b>Income</b></span>
  <span style="color: red; font-size: 25px"><b>Expenses</b></span>
</div>
<div class="row1">
  <div>
    <div class="card1">
      <div *ngFor="let x of cardOne; index as i">
        <span class="cd1"
          ><b>{{ x.dscptn }}</b>
          <b>{{ x.amt }}</b>
          <b>{{x.name}}</b>
          <span>
            <span class="fav1">
              <i
                class="fa fa-edit"
                style="font-size: px"
                (click)="edit(i, 'card1')"
              ></i
            ></span>
            <span class="fav2">
              <i
                class="fa fa-remove"
                style="font-size: 15px"
                (click)="delete(i, 'card1')"
              ></i
            ></span>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div>
    <div class="card2">
      <div *ngFor="let x of cardTwo; index as i">
        <span class="cd1"
          ><b>{{ x.dscptn }}</b>
          <b>{{ x.amt }}</b>
          <b>{{x.name}}</b>
          <span>
            <span class="fav1">
              <i
                class="fa fa-edit"
                style="font-size: 15px"
                (click)="edit(i, 'card2')"
              ></i
            ></span>
            <span class="fav2">
              <i
                class="fa fa-remove"
                style="font-size: 20px"
                (click)="delete(i, 'card2')"
              ></i
            ></span>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- table -->
<div class="table1" *ngIf="this.displayTable">
  <table>
  <thead>
    <tr>

      
      <th>Users</th>
    
      <th>Income</th>
      <th>Expenses</th>
      <th>Balance Amount</th>

    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of userTotals | keyvalue">
       <td>{{ user.value.name }}</td>
      <td>{{ user.value.positiveAmt }}</td>
      <td>{{ user.value.negativeAmt }}</td>
      <td>{{ user.value.amt }}</td> 

  


    

       

      </tr>
  </tbody>
  </table>
</div> 
  
</div>